# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Environment variable files
.env
*.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Images
*.png
*.jpg
*.jpeg

# Rough work
rough_work*
